/* section button_scroll */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
	border: 2px;
	border-style: solid;
	border-color: #F38685;
  outline: none; /* Remove outline */
  background-color: #F38685; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
	background-color: white;
	color: #F38685;
}