/* section cennik */

.produkt_zdjecie>img{
	float: left;
	transition: 1s;
}

.produkt_tekst>h6{
	transition: 1s;
}

.produkt_tekst>h5{
	transition: 1s;
}

.produkt_tekst {
	margin-left: 120px;
  padding-top: 16px;
  position: relative;
  z-index: 1;
  margin-bottom: 57px;
}

.produkt_tekst::after{
	position: absolute;
  content: "";
  left: 0;
  top: 28px;
  width: 100%;
  height: 1px;
  border-top: 1px dotted #f81c1c;
  z-index: -1;
}

.produkt:hover .produkt_zdjecie>img,.produkt:hover .produkt_tekst>h6, .produkt:hover .produkt_tekst>h5 {
	transform: scale(1.1);
}
