/* section cta */

.oprawka_kobieta > img{
	display: block;
  margin-left: auto;
  margin-right: 0;
}

.card {
	border: none;
}

.accordion>.card>.card-header {
	padding: 0;
	background-color: transparent;
	border-width: 0 0 4px 0;
	border-bottom-color: #F38685;
	border-style: solid;
}

.card-header .btn {
	color: #212529;
	padding: 25px 0 0 0;
	font-size: 14px;
  font-weight: 700;
	text-transform: capitalize;
	text-decoration: none;
	transition: 1s;
	width: 100%;
	text-align: left;
	display: flex;
}

.card-header .btn.collapsed::after {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	height: 0.6em;
	width: 0.6em;
	transform: rotate(-45deg);
	transition: 0.3s;
	margin-left: auto;
}

.card-header .btn::after {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	height: 0.6em;
	width: 0.6em;
	transform: rotate(135deg);
	transition: 0.3s;
	margin-left: auto;
}

