/*section formularz kontaktowy*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: 2px;
	border-style: solid;
	border-color: #F38685;
	outline: none;
	background-color: #F38685;
	color: white;
	cursor: pointer;
	padding: 15px;
	font-size: 18px;
}

input[type=submit]:hover {
		background-color: white;
		color: #F38685;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.hidden {
	display: none;
}

/*gwiazdki w formularzu kontaktowy*/

.rating__star{
	cursor: pointer;
	font-size: 25px;
}

.swieca{
	color: #85f389;
}

.swieca_na_stale{
	color: #85f389;
}


