@media (max-width: 960px){ 
	.padd {
	padding-bottom: 100px;
	}
	}
	
	@media (max-width: 1025px){
	.o_nas_zdjecia_2 {
	visibility: hidden;
	}
	}
	
	@media (max-width: 426px){
	.znika {
	display:none;
	}
	}
	
	@media (max-width: 426px){
	.o_nas_tekst {
	text-align: center;
	}
	}