/* section o_nas */

.o_nas {
	position: relative;
	z-index: 1;
	padding: 80px 0px;
}

.o_nas_zdjecia {
	position: relative;
}

.o_nas_zdjecia_1 {
	float: left;
  max-width: 300px;
}

.o_nas_zdjecia_2 {
	top: -100px;
	max-width: 350px;
	z-index: 3;
	position: absolute;
	left: 15%;
}

.o_nas_zdjecia_3 {
	float: right;
  max-width: 440px;
  top: 10px;
  position: absolute;
  right: 0;
	z-index: 2;
	transition: 1s;
}

.o_nas_zdjecia_3:hover{
z-index:3;
}

.o_nas_tekst {
	padding-left: 7px;
}

.o_nas_tekst h5::before {
	position: absolute;
	content: "";
	top: -8px;
	width: 45px;
	height: 36px;
	background-color: #f0f0f0;
	left: 0px;
	z-index: -1;
	transition: 1s;
}

.o_nas_tekst h5:hover::before {
	width: 85px;
}

.o_nas_tekst>h5 {
	font-family: "Trocchi", sans-serif;
	font-size: 13px;
	color: #f81c1c;
	margin-bottom: 18px;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	z-index: 1;
	padding-left: 10px;
}

.o_nas_tekst h5::after {
	position: absolute;
	content: "";
	top: 9px;
	width: 100px;
	height: 1px;
	background-color: #f0f0f0;
	left: 85px;
} 

.o_nas_tekst>h2 {
	line-height: 1.25;
	margin-bottom: 21px;
	font-size: 45px;
}

.o_nas_tekst>p{
	margin-top: 13px;
	margin-bottom: 20px;
	font-family: "Trocchi", sans-serif;
  line-height: 1.929;
  font-size: 14px;
  margin-bottom: 15px;
  color: #777777;
}
