/* section obsługa */

.obsluga_obrazek {
	overflow: hidden;
}

.obsluga_obrazek >img {
	transition: 1s;
}

.obsluga_obrazek:hover >img{
	transform: scale(1.05);
}

.obsluga_pojedynczy {
	text-align: center;
	padding: 15px 15px 0px;
	border: 3px solid #e3e6ea;
}

.obsluga_tekst {
	padding: 40px 30px 50px;
	text-align: center;
}

.obsluga_tekst > h4{
	font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}

.obsluga_tekst >p {
	margin: 25px 0px 39px 0px;
	font-family: "Trocchi", sans-serif;
  line-height: 1.929;
  font-size: 14px;
  color: #777777;
}

.przycisk {
	display: inline-block;
	padding: 12px 35px;
	font-size: 14px;
	font-weight: 400;
	-webkit-transition: 1s;
	transition: 1s;
	text-transform: capitalize;
	color: #fff;
	background-color: #30383b;
}

.przycisk:hover {
	background-color: #F38685;
	color: #fff;
	text-decoration: none;
}
