/* section pasek_nawigacyjny */
/* górny*/
.navbar-nav {
	width: 100%;
	justify-content: space-evenly;
}

.bg-light, .dropdown-menu.show {
	background-color: rgba(243, 134, 133, 0.9)!important;
}

.navbar-light .navbar-brand{
	color: white;
width: 50px;
margin-left: 15px;
}

.navbar-light .navbar-brand:focus {
	color: white;
	font-size: xx-large;
}

.navbar-light .navbar-brand:hover{
	color: white;
	font-size: xx-large;
	font-weight: 700;
}

.dropdown-item{
	color: white;
}

.navbar-light .navbar-nav .nav-link{
	position: relative;
	color: white;
}

.nav-item > a:before{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: white;
	z-index: 1;
	opacity: 0;
}

.nav-item > a:hover:before, .nav-item > a.active:before{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: white;
	z-index: 1;
	opacity: 1;
}

.navbar-light .navbar-nav .nav-link.active{
	color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
	color: white;
	font-weight: 700;
}

.dropdown-item:hover {
	font-weight: 700;
	color: white;
	text-decoration: none;
	background-color: rgba(243, 134, 133, 0.9);
}


/*dolny*/

.progress_bar .nav-item > a:hover::before, .progress_bar .nav-item > a.active::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(243, 134, 133, 1);
	z-index: 1;
	opacity: 1;
}

.progress_bar .navbar-nav {
	align-content: stretch;
}

.progress_bar .navbar {
	padding: 0;
}

.progress_bar .nav-item {
	width: 100%;
	height: 7px;
}

.progress_bar a{
pointer-events: none;
}

.progress_bar .bg-light {
	background-color:  rgba(243, 134, 133, 1)!important;
}

.progress_bar .nav-item.active ~ li  {
	background-color: white;
}
