/* section pracownicy */

.pracownicy {
	padding-bottom: 85px;
}

.pracownik {
	position: relative;
	transition: 1s;
	text-align: center;
}

.pracownik:hover .pracownik_socialki{
	transform: scaleX(1);
	transition: 1s;
	padding-bottom: 15px;
}

.pracownik:hover .pracownik_opis_ramka {
	box-shadow: 0px 15px 30px 0px rgba(48, 56, 59, 0.9);
	bottom: -60px;
}

.pracownik_opis_ramka {
	position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: -85px;
	transition: 1s;
}

.pracownik_opis {
	transition: 1s;
	padding: 25px 0px 0px;
	background-color: #fff;
}

.pracownik_socialki {
	transform: scaleX(0);
	transition: 1s;
}

.pracownik_socialki a {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 12px;
	display: inline-block;
	color: #949798;
	line-height: 30px;
	margin: 0px 5px;
	transition: 1s;
}

.pracownik_socialki a:hover {
	color:#F38685;
	transform: scale(1.2);
}