/* section slider */

.produkt_tekst>p {
	font-family: "Trocchi", sans-serif;
	line-height: 1.929;
	font-size: 14px;
	margin-bottom: 0px;
	color: #777777;
}

.carousel-inner {
	background-image: url("/image/tlo_slider.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.carousel-inner::after{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #221f3f;
	opacity: 0.8;
	z-index: -1;
}

.slider_post {
	display: flex;
	flex-direction: column;
	z-index: 1;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.post_tytuł {
	text-align: center;
	font-size: 18px;
  color: #F38685;
  line-height: 1.9;
}

.post_tresc {
	font-family: 'Trocchi', sans-serif;
	font-size: 18px;
	color: #fff;
	line-height: 1.9;
}

.post_tresc p {
	text-align: center;
}

.post_zdjecie {
	text-align: center;
}

.post_zdjecie img {
	margin: 30px 0 30px;
	max-width: 100px;
  max-height: 100px;
}

.post_klient_nazwisko h4 {
	text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 8px;
	position: relative;
	z-index: 1;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
	border-radius: 50%;
	background-color: #f18585;
	width: 11px;
	height: 11px;
	}

