body {
	position: relative;
	font-family: 'Trocchi';
}

h1,h2,h3,h4,h5 {
	font-family: 'Trocchi';
	line-height: 1.2rem;
}

h5 {
	display: inline-block;
	background-color: #fff;
	font-weight: 700;
	font-size: 22px;
	color: #30383b;
	padding-right: 20px;
}

h6 {
	float: right;
	color: #f81c1c;
	padding-left: 20px;
	padding-right: 0px;
	background-color: #fff;
	font-weight: 700;
	font-size: 22px;
}

a {
	text-decoration: none;
}


span {
	font-family: 'Trocchi';
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	margin-top: 0;
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 0rem;
}
