/* section tabela */

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 10px 10px;

	text-align: center;
}

table th {
	padding: 10px;
	border-right: 1px white solid;
	background-color: #F38685;

	position: relative;

	cursor: pointer;

	color: white;
}

table th:after {
	content: "";
	display: none;
	width: 0;
	height: 0;
	margin-top: -5px;

	position: absolute;
	top: 50%;
	right: 20px;
}

table th.asc:after {
	display: block;
	border-style: solid;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent white transparent;
}

table th.desc:after {
	display: block;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: white transparent transparent transparent;
}

table tr:nth-child(even) td {
	background-color: #F2F2F2;
}