/* class section_tittle */

.section_tittle >i{
	color: #F38685;
	margin: 50px 0px 15px;
	vertical-align: middle;
	border-style: none;
	transition: 1s;
}

.section_tittle >.trzy  {
	color: #F38685;
	vertical-align: middle;
	font-size: 100px;
	transition: 1s;
}

.section_tittle >.trzy:hover  {
	transform: scale(1.2);
}

.section_tittle>i:hover { 
	transform: scale(1.1);
}

.section_tittle {
	margin-bottom: 81px;
	text-align: center;
}

.section_tittle h2 {
  font-size: 30px;
  color: #30383b;
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  z-index: 1;
	margin-bottom: 20px;
}

.section_tittle p {
	color: #777777;
	font-size: 14px;
	margin-bottom: 7px;
}
