/*tooltip*/

.tooltip {
	padding: 10px 15px 12px 15px;
	border-radius: 7px;
	background-color:#F38685;

	opacity: 1;
	-webkit-transition: visibility 0.2s, opacity 0.2s;
	transition: visibility 0.2s, opacity 0.2s;

	position: absolute;
	z-index: 9999;
	font-family: 'Trocchi';
	text-align: center;
	color: #fff;
	transform: translate(-50%, 0px);
	max-width: 300px;
}

.tooltip:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -6px;
	border-style: solid;
	border-width: 10px 6px 0 6px;
	border-color: #F38685;
	border-radius: 0px 0px 4px 4px;

	position: absolute;
	left: 50%;
	bottom: -10px;
}

.tooltip.hidden {
	opacity: 0;
	visibility: hidden;
}
